body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    margin: 50px auto 0;
    font-size: 4rem;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
}

h2 {   
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;    
    color: #11999E;
}

a {
    font-family: 'Montserrat', sans-serif;  
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

p {
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 10%;
    margin: 1009x auto;
}

.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 400px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 400px;
    bottom: 300px;
}


.middle-container {
    margin: 100px 0;
}

.intro {
    width: 30%;
    margin: auto;
}

.profile-image {
    border-radius: 50%;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;    
}

.java-img {
    float: left; /* usually used to wrap text over image */
    margin-right: 40px;
}

.gym-img {
    width: 25%;
    float: right; /* clear aka anti-float */
    margin-left: 40px;
}


.bottom-container {
    background-color: #66BFBF;
    padding: 40px 0 20px;
}

.contact-me {
    margin: 50px auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

/*
.btn {
    background-color: teal;
    color: #EAF6F6;
    padding: 5px 20px;
    border: 1px solid #333333;
    border-radius: 10%;
    margin-top: 50px;
} */

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;  
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #25805c;
    background-image: -webkit-linear-gradient(top, #25805c, #34d997);
    background-image: -moz-linear-gradient(top, #25805c, #34d997);
    background-image: -ms-linear-gradient(top, #25805c, #34d997);
    background-image: -o-linear-gradient(top, #25805c, #34d997);
    background-image: linear-gradient(to bottom, #25805c, #34d997);
    text-decoration: none;
  }

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}